

header {
  /* background: url(../3627-172488393_small.mp4); */
  background-size: cover;
  /* background: no-repeat; */
  height: 30vh;
  font-size: 18px;
  margin-bottom: 100px;

}
h2.titre {
  letter-spacing: 1px;
  margin: 15px;
  margin-bottom: 50px;
  margin-left: 0px;
}

div.menu-accueil{
  margin-left: 30px;
}



/* Accueil */

    /* IMAGES */
div.diapo {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container{
  height: 530px;
  width: 400px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
}
.images{
  display: flex;
  animation-name: change;
  animation-duration: 32s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
img{
  width: 380px;
  height: max-content;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3%;
}

@keyframes change{
  0%{
    transform: translateX(0);
}
  0%{ transform: translateX(-0); }
  12.5%{ transform: translateX(-400px); }
  25%{ transform: translateX(-800px); }
  37.5%{ transform: translateX(-1200px); }
  50%{ transform: translateX(-1600px); }
  62.5%{ transform: translateX(-2000px); }
  75%{ transform: translateX(-2400px); }
  87.5%{ transform: translateX(-2800px); }
  100%{ transform: translateX(0%); }
}
    /* IMAGES FIN */
   
    
h1.sublimez {
  font-size: 50px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

p.disponibilite {
  font-size: 20px;
  background-color: #37373727;
  padding: 5px;
  padding: 15px 0 15px 0;
  /* padding-left: 0px;
  padding-right: 0px; */
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

h2.ExploMulti {
  text-align: center;
  font-style: italic;
  font-size: 35px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
}
span.nom {
  text-align: center;
  justify-content: space-around;
  font-size: 32px;
  font-family: 'Times New Roman'
}

/* NOS MEILLEURS OFFRES */
section#MeilleursOffres{
  margin-bottom: 150px;
}
div.MO-item{
  background-color: #37373727;
  color: black;
  height: 250px;
  margin: 15px;
  position: relative;
  flex: 1 0 29%;
  /* background-repeat: no-repeat; */
  background-size: 100%;
}
div.MO-item:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  transition: 0.8s all;
}
div.MO-group{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
span.nom-offre {
  position: relative;
  color: #fff;
  background-color: #373737;
  opacity: 0.4;
  top: 20px;
  float: right;
  padding: 8px;
  font-size: 16px;
}
span.prix-offre {
  position: relative;
  color: #fff;
  background-color: #ef901d;
  padding: 8px;
  font-size: 16px;
  top: 240px;  
}

/* CATALOGUE */
section#Catalogue{
  margin: 10px;
  margin-bottom: 150px;
}
h3.event{
  justify-content: center;
}
div.catalogue-item{
  /* background-color: #37373727; */
  color: black;
  height: 200px;
  width: 200px;
  margin: 15px;
  position: relative;
  /* flex: 1 0 29%; */
  background-repeat: no-repeat;
  background-size: cover;
}
div.catalogue-group-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
span.nom-cata {
  position: relative;
  color: #fff;
  background-color: #373737;
  opacity: 0.4;
  top: 20px;
  float: right;
  padding: 8px;
  font-size: 13px;
}
div.catalogue-item{
  overflow: hidden;
}

div.catalogue-item:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  transition: 0.8s all;
}
.event{
 display: flex; 
}


/* GRILLE TARIFAIRE */
section#GrilleT{
  margin-left: 10px;
  margin-bottom: 130px;
  margin-right: 10px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  border: 2px solid black;
  border-radius: 7px;
}
table {
  width: 70%;
  font-size: 13px;
}
div.livre-photo-group{
  margin-top: 0px;
  margin-left: 5%;
}
div.livreL{
  margin-right: 50px;
}
h3.event-gt{
  justify-self: left;
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 23px;
}
h4.taille {
  margin-bottom: 30px;
}


/* CONTACTS */
section#Contacts{
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 7px;
}

h3.titre-contact{
  margin: 10px;
  margin-bottom: 30px;
}
div.contacts-group{
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}
div.contacs-item{
  background-size: 100%;
  margin: 10px;
}
p.contenu {
  padding-left: 5px;
  padding-right: 5px;
}
span.titre-contacts{
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}
p.contenu{
  margin: top 10px;
  margin-bottom: 10px;
}
h4.titre-contacts{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* PIED DE PAGE */
footer p {
  height: 3vh;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #373737;
  padding: 10px;
}
footer hr {
  margin-top: 40px;
  margin-bottom: 0;
}

/* ICÔNES */
img.icon-resaux{
  height: 20px;
  width: 20px;
  transform: translateY(5px);
}

img.icon-titre-contact{
  height: 25px;
  width: 25px;
  transform: translateY(4px);
}
img.icon-mkpictures{
  height: 31px;
  width: 46px;
  transform: translateY(6px);
}

/* BACKGROUND-IMG */
.fiancailles-1 {
  background: url(../img/catalogue/fiancailles/5F4A3406.jpg);
}
.fiancailles-2{
  background: url(../img/catalogue/fiancailles/IMG_0197.jpg);
}
.fiancailles-3{
  background: url(../img/catalogue/fiancailles/mk-7301.jpg);
}

.marcout-1{
  background: url(../img/catalogue/marcout/_MG_4500-1-Récupéré-Récupéré-Récupéré.jpg);
}
.marcout-2{
  background: url(../img/catalogue/marcout/_MG_5334.jpg);
}
.marcout-3{
  background: url(../img/catalogue/marcout/IMG_7061\ copie.jpg);
}

.marciv-1{
  background: url(../img/catalogue/marciv/5F4A2580.jpg);
}
.marciv-2{
  background: url(../img/catalogue/marciv/_MG_6911.jpg);
}
.marciv-3{
  background: url(../img/catalogue/marciv/MKpictures---1551.jpg);
}

.shoot-stud-1{
  background: url(../img/catalogue/shoot-stud/5F4A3463.jpg);
}
.shoot-stud-2{
  background: url(../img/catalogue/shoot-stud/5F4A6282.jpg);
}
.shoot-stud-3{
  background: url(../img/catalogue/shoot-stud/IMG_4779.jpg);
}

.shoot-ext-1{
  background: url(../img/catalogue/shoot-ext/5F4A8813.jpg);
}
.shoot-ext-2{
  background: url(../img/catalogue/shoot-ext/5F4A8894.jpg);
}
.shoot-ext-3{
  background: url(../img/catalogue/shoot-ext/mk-0197.jpg);
}

.anniv-1{
  background: url(../img/catalogue/Anniv/MKpictures-1626.jpg);
}
.anniv-2{
  background: url(../img/catalogue/Anniv/MKpictures-3962.jpg);
}
.anniv-3{
  background: url(../img/catalogue/Anniv/MKpictures-4955.jpg);
}

.conf-1{
  background: url(../img/catalogue/conf/5F4A8508.jpg);
}
.conf-2{
  background: url(../img/catalogue/conf/5F4A8557.jpg);
}
.conf-3{
  background: url(../img/catalogue/conf/5F4A8637.jpg);
}